*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    background-color: #222;
    width: 100%;
    height: 100%;
}

body
{
    display: grid;
    place-items: center;
    overflow: hidden;
}

select
{
    position: absolute;
    top: 1rem;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.piano-keyboard
{
    display: flex;
    align-items: flex-start;
    user-select: none;
    font-size: min(3rem, 10vmin);
    margin-top: 2rem;
}

.piano-keyboard .octave
{
    display: flex;
    align-items: flex-start;
    user-select: none;
}

.key
{
    --key-width: 1.5em;
    --key-height: 5em;
    --shadow-lightness: 80%;
    --start-shadow-size: calc(var(--key-height) / 15);
    --shadow-size: var(--start-shadow-size);
    width: var(--key-width);
    height: var(--key-height);
    background-color: hsl(0, 0%, 100%);
    border: 1px solid #cacaca;
    border-radius: 0 0 0.2em 0.2em;
    box-shadow: 0 var(--shadow-size) 0 hsl(0, 0%, var(--shadow-lightness));
    transition: 0.2s;
}

.key.small
{
    --small-key-width: calc(var(--key-width) / 2);
    --small-key-height: calc(var(--key-height) / 1.6);
    --shadow-lightness: 20%;
    --start-shadow-size: 0.3em;


    background-color: hsl(0, 0%, 0%);
    width: var(--small-key-width);
    height: var(--small-key-height);
    margin-inline: calc(var(--small-key-width) / 2 * -1);
    margin-top: -0.25em;
    z-index: 1;
    position: relative;
}

.key.active
{
    --scale-factor: 1.08;
    --shadow-size: 0em;
    transform: translateY(var(--start-shadow-size)) scaleY(var(--scale-factor)) ;
}